{% extends 'dashboard_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="mainTop">
        <div class="container-fluid">
            <div class="mainTopWrap">
                <div class="mainTopLeft">
                    <h1>Update Password</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="mainContent">
        <div class="container-fluid">
            <div class="signupBox">
                <form method="post" class="formWrap">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row">
                        <div class="col-6">
                            <a href="{% url 'users_list' %}" class="btn btn-default">Back</a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn signupBtn">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}