{% load static %}
{% load i18n %}
{% autoescape off %}
    {% block content %}
        Hello {{ user_name }}
        Forget Password
        You're receiving
        this email because you requested a password reset for your user account at {{ site_name }}.
        Click following
        link to
        download.
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset
            Password</a>
    {% endblock content %}
{% endautoescape %}

